$light_blue:#D9F4FF;
$medium_blue:#B8EAFF;
$dark_blue:#00B4FF;

$light_green:#E0FFD9;
$medium_green:#B3FCA2;
$dark_green:#2FFE00;

$light_red:#FFD9D9;
$medium_red: #FFB4B4;
$dark_red:#FF0000;

$light_violet:#EDD9FF;
$medium_violet:#D7AAFF;
$dark_violet:#8700FF;

$text_blue:#283C4E;
$text_orange:#EE5D2F;
