* {
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none;
}

body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: #FCFBFA !important;
}

.logo {
  width: 57px;
  height: 48px;
}

nav {
  background-color: #D9F4FF;
}

.navbar-brand {
  margin-right: 20px !important;
}

li {
  font-weight: 900;
  color: #283C4E;
  font-size: 20px;
}

.main-text {
  margin: 100px 50px 50px 50px;
  text-align: center;
}

.main-text h1 {
  margin-bottom: 20px;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-box .level-btn {
  width: 260px;
  height: 79px;
  margin: 20px;
  padding: 21px 0px;
  font-size: 25px;
  border-radius: 5px;
  color: #EE5D2F;
}

.flex-box .level-btn:hover {
  cursor: pointer;
}

.flex-box .easy {
  background-color: #E0FFD9;
}

.flex-box .int {
  background-color: #D9F4FF;
}

.flex-box .hard {
  background-color: #FFD9D9;
}

.flex-box .god {
  background-color: #EDD9FF;
}

.flex-box .easy:hover {
  -webkit-animation: selection-easy;
          animation: selection-easy;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.flex-box .int:hover {
  -webkit-animation: selection-int;
          animation: selection-int;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.flex-box .hard:hover {
  -webkit-animation: selection-hard;
          animation: selection-hard;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.flex-box .god:hover {
  -webkit-animation: selection-god;
          animation: selection-god;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.actual_game {
  width: 80%;
  background-color: #D9F4FF;
  border: 1px solid #00B4FF;
  border-radius: 5px;
  margin: 70px auto;
  padding: 20px;
}

.actual_game .score_indicator {
  padding: 9px 15px;
  background-color: #EDD9FF;
  border: 1px solid #D7AAFF;
  border-radius: 5px;
  font-weight: 900;
  display: inline-block;
}

.actual_game .level_indicator {
  float: right;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  font-weight: 900;
  padding: 9px 25px;
  color: #283C4E;
}

.actual_game .timer {
  width: 97px;
  margin: 20px auto;
}

.actual_game .display_timer {
  font-weight: 900;
  font-size: 20px;
  display: block;
  text-align: center;
}

.actual_game .question {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  font-size: 80px;
}

.actual_game .answer_box {
  text-align: center;
}

.actual_game .answer_box input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  height: 50px;
  margin: 30px 0px 100px 0px;
}

.score_tile {
  display: block !important;
  text-align: center;
}

.easy_badge {
  background-color: #E0FFD9;
  border-color: #2FFE00;
}

.int_badge {
  background-color: #B8EAFF;
  border-color: #00B4FF;
}

.hard_badge {
  background-color: #FFD9D9;
  border-color: #FF0000;
}

.god_badge {
  background-color: #EDD9FF;
  border-color: #8700FF;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.box {
  border: 1px solid black;
}

@-webkit-keyframes selection-easy {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #B3FCA2;
    border: 2px solid #2FFE00;
  }
}

@keyframes selection-easy {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #B3FCA2;
    border: 2px solid #2FFE00;
  }
}

@-webkit-keyframes selection-int {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #B8EAFF;
    border: 2px solid #00B4FF;
  }
}

@keyframes selection-int {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #B8EAFF;
    border: 2px solid #00B4FF;
  }
}

@-webkit-keyframes selection-hard {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #FFB4B4;
    border: 2px solid #FF0000;
  }
}

@keyframes selection-hard {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #FFB4B4;
    border: 2px solid #FF0000;
  }
}

@-webkit-keyframes selection-god {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #D7AAFF;
    border: 2px solid #8700FF;
  }
}

@keyframes selection-god {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #D7AAFF;
    border: 2px solid #8700FF;
  }
}

.how_to_play {
  width: 80%;
  height: 100%;
  margin: 50px auto;
}

.how_to_play h5 {
  padding: 10px;
  background-color: #FFD9D9;
  border-radius: 5px;
}

.selection-box {
  text-align: center;
}

h1 {
  font-weight: 900 !important;
}

.lose-game, .scoreboard {
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(255, 0, 0, 0.5);
  /* Black w/opacity */
  z-index: 1;
}

.lose-game .lose-banner, .scoreboard .lose-banner {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  border: 5px solid white;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.lose-game .lose-banner h1, .scoreboard .lose-banner h1 {
  text-align: center;
  margin: 50px 0px;
}

.lose-game .lose-banner .grid2, .scoreboard .lose-banner .grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.lose-game .lose-banner .grid2 span, .scoreboard .lose-banner .grid2 span {
  font-size: 20px;
  text-align: left;
}

.lose-game .lose-banner .grid2 .level-box, .scoreboard .lose-banner .grid2 .level-box {
  text-align: right;
}

.lose-game .lose-banner .restart-button, .scoreboard .lose-banner .restart-button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 14px 60px;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.lose-game .lose-banner a, .scoreboard .lose-banner a {
  text-decoration: none;
  color: #ffffff;
}

.scoreboard {
  background-color: rgba(47, 254, 0, 0.6);
}

.scoreboard .mainmenu {
  display: inline-block;
  letter-spacing: 1px;
  padding: 13px 0px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

ul, li {
  padding: 0px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .head1 {
    font-size: 30px;
  }
  .head2 {
    font-size: 25px;
  }
  .actual_game {
    width: 90%;
    margin-top: 10px;
  }
  .main-text {
    margin-top: 40px;
  }
  h3 {
    font-size: 20px !important;
  }
  .lose-banner {
    height: 450px;
  }
  .lose-banner h1 {
    font-size: 40px;
  }
  .lose-banner .status {
    font-size: 20px;
    margin-top: 35px;
  }
  .lose-banner .restart-button {
    margin: 0px;
    font-size: 25px;
  }
  .mainmenu {
    width: 150px;
    font-size: 20px;
    margin-top: 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .actual_game {
    margin-top: 70px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .mainmenu {
    width: 250px;
    font-size: 30px;
    margin-top: 30px;
  }
  .main-text {
    margin-top: 100px;
  }
  .main-text h1 {
    font-size: 60px;
  }
  nav {
    padding: 1px 50px !important;
  }
  .actual_game {
    width: 80%;
  }
  .question span {
    margin: 0px 30px;
  }
  .lose-banner {
    height: 700px;
  }
  .lose-banner h1 {
    font-size: 70px;
  }
  .lose-banner .status {
    font-size: 35px;
    margin-top: 100px;
  }
  .lose-banner .restart-button {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 35px;
    padding: 14px 60px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
    margin: 120px 0px;
    width: 300px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  nav {
    padding: 16px 100px !important;
  }
  .actual_game {
    width: 60%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  nav {
    padding: 16px 144px 16px 172px !important;
  }
  .main-text {
    margin: 200px 167px 100px 172px;
  }
  .head1 {
    font-size: 60px;
  }
  .head2 {
    font-size: 40px;
    font-weight: 1 !important;
  }
  .actual_game {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */