* {
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none;
}

body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: #FCFBFA !important;
}

.logo {
  width: 57px;
  height: 48px;
}

nav {
  background-color: #D9F4FF;
}

.navbar-brand {
  margin-right: 20px !important;
}

li {
  font-weight: 900;
  color: #283C4E;
  font-size: 20px;
}

footer {
  height: 40px;
  background-color: #283C4E;
  color: #FCFBFA;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 0px;
  width: 100vw;
  font-size: 15px;
}

.main-text {
  margin: 100px 50px 50px 50px;
  text-align: center;
}

.main-text h1 {
  margin-bottom: 20px;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-box .level-btn {
  width: 260px;
  height: 79px;
  margin: 20px;
  padding: 21px 0px;
  font-size: 25px;
  border-radius: 5px;
  color: #EE5D2F;
}

.flex-box .level-btn:hover {
  cursor: pointer;
}

.flex-box .easy {
  background-color: #E0FFD9;
}

.flex-box .int {
  background-color: #D9F4FF;
}

.flex-box .hard {
  background-color: #FFD9D9;
}

.flex-box .god {
  background-color: #EDD9FF;
}

.flex-box .easy:hover {
  -webkit-animation: selection-easy;
          animation: selection-easy;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.flex-box .int:hover {
  -webkit-animation: selection-int;
          animation: selection-int;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.flex-box .hard:hover {
  -webkit-animation: selection-hard;
          animation: selection-hard;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.flex-box .god:hover {
  -webkit-animation: selection-god;
          animation: selection-god;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.actual_game {
  width: 80%;
  background-color: #D9F4FF;
  border: 1px solid #00B4FF;
  border-radius: 5px;
  margin: 70px auto;
  padding: 20px;
}

.actual_game .score_indicator {
  padding: 9px 15px;
  background-color: #EDD9FF;
  border: 1px solid #D7AAFF;
  border-radius: 5px;
  font-weight: 900;
  display: inline-block;
}

.actual_game .level_indicator {
  float: right;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 9px 25px;
  color: #283C4E;
}

.actual_game .timer {
  width: 97px;
  margin: 20px auto;
}

.actual_game .display_timer {
  font-weight: 900;
  font-size: 20px;
  display: block;
  text-align: center;
}

.actual_game .question {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  font-size: 80px;
}

.actual_game .answer_box {
  text-align: center;
}

.actual_game .answer_box input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  height: 50px;
  margin: 30px 0px 100px 0px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@-webkit-keyframes selection-easy {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #B3FCA2;
    border: 2px solid #2FFE00;
  }
}

@keyframes selection-easy {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #B3FCA2;
    border: 2px solid #2FFE00;
  }
}

@-webkit-keyframes selection-int {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #B8EAFF;
    border: 2px solid #00B4FF;
  }
}

@keyframes selection-int {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #B8EAFF;
    border: 2px solid #00B4FF;
  }
}

@-webkit-keyframes selection-hard {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #FFB4B4;
    border: 2px solid #FF0000;
  }
}

@keyframes selection-hard {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #FFB4B4;
    border: 2px solid #FF0000;
  }
}

@-webkit-keyframes selection-god {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #D7AAFF;
    border: 2px solid #8700FF;
  }
}

@keyframes selection-god {
  to {
    color: #283C4E;
    font-size: 32px;
    padding-top: 16px;
    background-color: #D7AAFF;
    border: 2px solid #8700FF;
  }
}

.how_to_play {
  width: 80%;
  margin: 200px auto;
}

.how_to_play h5 {
  padding: 10px;
  background-color: #FFD9D9;
  border-radius: 5px;
}

.selection-box {
  text-align: center;
}

h1 {
  font-weight: 900 !important;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .head1 {
    font-size: 30px;
  }
  .head2 {
    font-size: 25px;
  }
  .actual_game {
    width: 90%;
  }
}

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  nav {
    padding: 1px 50px !important;
  }
  .actual_game {
    width: 80%;
  }
  .question span {
    margin: 0px 30px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  nav {
    padding: 16px 100px !important;
  }
  .actual_game {
    width: 60%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  nav {
    padding: 16px 144px 16px 172px !important;
  }
  .main-text {
    margin: 200px 167px 100px 172px;
  }
  .head1 {
    font-size: 60px;
  }
  .head2 {
    font-size: 40px;
    font-weight: 1 !important;
  }
  .actual_game {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */