$light_blue:#D9F4FF;
$medium_blue:#B8EAFF;
$dark_blue:#00B4FF;

$light_green:#E0FFD9;
$medium_green:#B3FCA2;
$dark_green:#2FFE00;

$light_red:#FFD9D9;
$medium_red: #FFB4B4;
$dark_red:#FF0000;

$light_violet:#EDD9FF;
$medium_violet:#D7AAFF;
$dark_violet:#8700FF;

$text_blue:#283C4E;
$text_orange:#EE5D2F;
$snow_white: #FCFBFA;

*{
    font-family: 'Montserrat', sans-serif;
}

.hidden{
    display: none;
}


body, html{
    margin:0px;
    padding:0px;
    height:100%;
    width: 100%;
    background-color: $snow_white !important;
}

.logo{
    width: 57px;
    height: 48px;
}

nav{
    background-color: $light_blue;
}

.navbar-brand{
    margin-right: 20px !important;
}

li{
    font-weight: 900;
    color: $text_blue;
    font-size: 20px;
}

footer{
    height: 40px;
    background-color: $text_blue;
    color: $snow_white;
    text-align: center;
    padding: 8px 0px;
    width: 100vw;
    font-size: 15px;
}

.main-text{
    margin: 100px 50px 50px 50px;
    text-align: center;
    h1{
        margin-bottom: 20px;
    }
}


.flex-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: center;

    .level-btn{
        width: 260px;
        height: 79px;
        margin: 20px;
        padding: 21px 0px;
        font-size: 25px;
        border-radius: 5px;
        color: $text_orange;
    }

    .level-btn:hover{
        cursor: pointer;
    }

    .easy{
        background-color: $light_green;
    }

    .int{
        background-color: $light_blue;
    }

    .hard{
        background-color: $light_red;
    }

    .god{
        background-color: $light_violet;
    }

    .easy:hover{
        animation: selection-easy;
        animation-duration: .2s;
        animation-fill-mode: forwards;
    }

    .int:hover{
        animation: selection-int;
        animation-duration: .2s;
        animation-fill-mode: forwards;
    }
    .hard:hover{
        animation: selection-hard;
        animation-duration: .2s;
        animation-fill-mode: forwards;
    }
    .god:hover{
        animation: selection-god;
        animation-duration: .2s;
        animation-fill-mode: forwards;
    }
}

.actual_game{
width: 80%;
background-color: $light_blue;
border: 1px solid $dark_blue;
border-radius: 5px;
margin: 70px auto;
padding: 20px;


    .score_indicator{
        padding: 9px 15px;
        background-color: $light_violet;
        border: 1px solid $medium_violet;
        border-radius: 5px;
        font-weight: 900;
        display: inline-block;
    }

    .level_indicator{
        float: right;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        font-weight: 900;
        padding: 9px 25px;
        color: $text_blue;
    }
    .timer{
        width: 97px;
        margin: 20px auto;
    }

    .display_timer{
        font-weight: 900;
        font-size: 20px;
        display: block;
        text-align: center
    }
    
    .question{
        width: 90%;
        margin: 20px auto;
        text-align: center;
        border-radius: 5px;
        background-color: white;
        font-size: 80px;
    }

    .answer_box{
        text-align: center;
        input{
            border: none;
            border-radius: 5px;
            padding: 5px;
            text-align: center;
            height: 50px;
            margin: 30px 0px 100px 0px;
        }

    }
}


.score_tile{
    display: block !important;
    text-align: center;

}

.easy_badge{
    background-color: $light_green;
    border-color: $dark_green;
}

.int_badge{
    background-color: $medium_blue;;
    border-color: $dark_blue;
}

.hard_badge{
    background-color: $light_red;
    border-color: $dark_red;
}

.god_badge{
    background-color: $light_violet;
    border-color: $dark_violet;
}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.box{
    border: 1px solid black;
}



@keyframes selection-easy{
    to{ 
        color: $text_blue;
        font-size: 32px;
        padding-top: 16px;
        background-color: $medium_green;
        border: 2px solid $dark_green;
    }
}

@keyframes selection-int{
    to{ 
        color: $text_blue;
        font-size: 32px;
        padding-top: 16px;
        background-color: $medium_blue;
        border: 2px solid $dark_blue;
    }
}

@keyframes selection-hard{
    to{ 
        color: $text_blue;
        font-size: 32px;
        padding-top: 16px;
        background-color: $medium_red;
        border: 2px solid $dark_red;
    }
}

@keyframes selection-god{
    to{ 
        color: $text_blue;
        font-size: 32px;
        padding-top: 16px;
        background-color: $medium_violet;
        border: 2px solid $dark_violet;
    }
}


.how_to_play{
    width: 80%;
    height: 100%;
    margin: 50px auto;

    h5{
        padding: 10px;
        background-color: $light_red;
        border-radius: 5px;
    }
}

.selection-box{
    text-align: center;
}

h1{
    font-weight: 900 !important;
}

.lose-game, .scoreboard{
    
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(255,0,0, 0.5); /* Black w/opacity */
    z-index: 1;
    

    .lose-banner{
        z-index: 2;
        background-color: rgba(0,0,0, 0.6);
        border: 5px solid white;
        color: white;
        border-radius: 10px;
        text-align: center;
        h1{
            text-align: center;
            margin: 50px 0px;
        }

        .grid2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            span{
                font-size: 20px;
                text-align: left;
            }

            .level-box{
                text-align: right;
            }
        }
        .restart-button{
            display: inline-block;
            background-color: rgba(255,255,255, 0.5);
            padding: 14px 60px;
            font-weight: bold;
            letter-spacing: 2px;
            border-radius: 10px;
            cursor: pointer; 
        }
        
        a{
            text-decoration: none;
            color: #ffffff;
        }
    }

}

.scoreboard{
    background-color: rgba(47,254,0, 0.6);
    .mainmenu{
        display: inline-block;
        letter-spacing: 1px;
        padding: 13px 0px;
        
        background-color: rgba(255,255,255, 0.5); 
        border-radius: 10px;
        cursor: pointer;
      }

}



ul,li{
    padding: 0px;
}





/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .head1{
        font-size: 30px;
    }
    .head2{
        font-size: 25px;
    }

    .actual_game{
        width: 90%;
        margin-top: 10px;
    }

    .main-text{
        margin-top: 40px;
    }

    h3{
        font-size: 20px !important;
    }

    .lose-banner{
        height: 450px ;
        h1{
            font-size: 40px ;
        }
        .status{
            font-size: 20px ;
            margin-top: 35px;
        }
        .restart-button{
            margin: 0px ;
            font-size: 25px ;
        }
    }

    .mainmenu{
        width: 150px;
        font-size: 20px;
        margin-top: 10px;
    }
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .actual_game{
        margin-top: 70px;
    }
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right:0;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .mainmenu{
        width: 250px;
        font-size: 30px;
        margin-top: 30px;
    }



    .main-text{
        margin-top: 100px;
        h1{
            font-size: 60px;
        }
    }
    
    nav{
        padding: 1px 50px !important; 
    }
    .actual_game{
        width: 80%;
    }

    .question{
        span{
            margin: 0px 30px;
        }
    }

    .lose-banner{
        
        height: 700px;
        h1{
            font-size: 70px;
        }
        .status{
            font-size: 35px;
            margin-top: 100px;
        }
        .restart-button{
            display: inline-block;
            background-color: rgba(255,255,255, 0.5);
            font-size: 35px;
            padding: 14px 60px;
            font-weight: bold;
            letter-spacing: 2px;
            border-radius: 10px;
            cursor: pointer;
            margin: 120px 0px;
            width: 300px; 
        }
    }  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    nav{
        padding: 16px 100px !important;
    }
    .actual_game{
        width: 60%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    nav{
        padding: 16px 144px 16px 172px !important; 
    }

    .main-text{
        margin: 200px 167px 100px 172px;
    }
    .head1{
        font-size: 60px;
    }
    .head2{
        font-size: 40px;
        font-weight: 1 !important;
    }

    .actual_game{
        width: 40%;
    }

}

